
*{
    box-sizing: border-box;
}
/*----------- inported font(josefin) ------------*/
@font-face {
    font-family: marianne;
    src: url(fonts/Marianne-2OVed.otf);
  }
/*----------- fade ------------*/
 
  
/*----------- Header 1 ------------*/
h1 {
    font-family: marianne;
    font-size: 15vw;
    display: flex;
    justify-content: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
    
}

h3{
    font-family: marianne;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
    margin-top: 0;
}
/*----------HEAD MENU---------------*/
.main-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
   background-color: rgb(250, 180, 50);
   justify-content: space-evenly;
   min-height: 40px;
   max-height: 60px;
   width: 100%;
   position: fixed;
   padding-left: min(20px);
   padding-right: min(20px);
   top: 0;
   transition: top 0.3s;
   box-shadow: 3px 1px 5px black;
  
}

.main-nav a{
    font-size: 5vw;
    font-weight: bold;
    font-family: marianne;
    text-decoration: none;
   color: black;
   padding-top: 20px;
}



.txt:hover{  
   color: rgb(154, 103, 8);
    text-decoration: underline;
}



    




.hemsida{
    display: flex;
    width: 100%;
    height: 70vw;
    justify-content: center;
}


/*----------OM OSS---------------*/
h2 {
    font-family: marianne;
    font-size: 8vw;
    text-align: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
}

.om-oss{
    font-family: marianne;
    font-weight: bold;
    font-size: 3vw;
    
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(250, 180, 50);
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 4vw;

}

.mvh{
    font-family: marianne;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
    margin-top: 0;
}

.mvh2{
    font-family: marianne;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
    margin-top: 0;
}

.pic2{
    display: none;
}


.back-to-top{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: marianne;
    font-size: 4vw;
    font-weight: bold;
    color: black;
}

.back-to-top:hover{
    color: rgb(250, 180, 50);
}




/*----------NEW MEDIA SCREEN DISPLAY---------------*/
@media only screen and (min-width: 650px){

    .main-nav a{
        font-weight: 300;
    }


    .pic2{
       display: flex;
       justify-content: center;
       box-shadow: none;
       height: 25vw;

    }
    



}