
*{
    box-sizing: border-box;
}
/*----------- inported font(josefin) ------------*/
@font-face {
    font-family: marianne;
    src: url(fonts/Marianne-2OVed.otf);
  }
/*----------- fade ------------*/
 
  
/*----------- Header 1 ------------*/
h1 {
    font-family: marianne;
    font-size: 15vw;
    display: flex;
    justify-content: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
    
}

/*----------HEAD MENU---------------*/
.main-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
   background-color: rgb(250, 180, 50);
   justify-content: space-evenly;
   min-height: 40px;
   max-height: 60px;
   width: 100%;
   position: fixed;
   padding-left: min(20px);
   padding-right: min(20px);
   top: 0;
   transition: top 0.3s;
   box-shadow: 3px 1px 5px black;
  
}

.main-nav a{
    font-size: 3vw;
    font-family: josefin;
    text-decoration: none;
   color: black;
}



.txt:hover{  
   color: rgb(154, 103, 8);
    text-decoration: underline;
}



    




.hemsida{
    display: flex;
    width: 100%;
    height: 70vw;
    justify-content: center;
}


/*----------OM OSS---------------*/
h2 {
    font-family: josefin;
    font-size: 5vw;
    text-align: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
}

.om-oss{
    font-family: josefin;
    line-height: 27px;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(250, 180, 50);
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
    border: 2px solid black;

}

.mvh{
    font-family: josefin;
    font-size: 5vw;
    text-align: center;
    color: rgb(250, 180, 50);
    margin-bottom: 0px;
    text-shadow: 3px 1px 5px black;
}
.pic2{
    display: none;
}
/*----------img slideshow---------------*/






/*----------NEW MEDIA SCREEN DISPLAY---------------*/
@media only screen and (min-width: 650px){

    .main-nav a{
        font-weight: 300;
    }

    .team-member1{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 80px;
    }

    .team-member2{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 80px;
    }

    .photo{
        height: 40vw;
        border-radius: 50%;
        margin-left: 10%;
    }

    .first-word1{
        width: 30vw;
       font-size: 3vw;
       font-family: josefin;
       margin-left: 10%;
    }
    
    .first-word2{
        width: 30vw;
       font-size: 3vw;
       font-family: josefin;
       margin-left: 10%;
    }
    
    .pic2{
       display: flex;
       justify-content: center;
       box-shadow: none;
       height: 25vw;

    }
    



}